@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
#particles-js {
    height: 100%;
    width: 100%;
    background-color: #232741;

}
#name {
    color: #ccc;
    position: absolute;
    top: 55%;
    left: 2%;
}

h1, h2 {
    font-weight: 200;
    margin: 0.4rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.txt-type > .txt {
    border-right: 0.2rem solid #777;
}
